//font family
$base-font: 'Helvetica-CondensedBold';
$heading-font: 'AmsiPro-Bold';
//font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

//font size
$base-font-size: 15px;

//colors
$base-color: #961B46;
$text-color: #000;
$placeholder-color: #8d8d8d;

//notifications colors
$error: #721c24;
$valid: #155724;

//wrapper width
$wrapper-width: 1200px;